@import '~_sass/config';

#header {
  width: 100%;
  height: 70px;

  .header__content {
    display: flex;
    padding: $padding-default-big

    .content__block {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      &__logo {
        justify-content: flex-start;
      }
    }

    .content__block .logo {
      background: url("~_img/nodejs.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 50px;
      width: 180px;
    }

  }
}