
$color-primary: #c3c3c3;
$color-secondary: #ccc;

$font-color-primary: black;
$font-color-secondary: #333;

$padding-default-big: 0 30px;
$padding-default-medium: 0 20px;
$padding-default-small: 0 20px;

$button-default-background: #ccc;
$button-default-background-hover: #ddd;

$shadow-color-primary: #333;
$shadow-color-secondary: #ccc;

$border-color-primary: #333;
$border-color-secondary: #ccc;

//black version
$black-color-primary: #000;
$black-color-secondary: #ccc;

$black-font-color-primary: white;
$black-font-color-secondary: #000;

$black-padding-default-big: 0 30px;
$black-padding-default-medium: 0 20px;
$black-padding-default-small: 0 20px;

$black-button-default-background: #000;
$black-button-default-background-hover: #111;

$black-shadow-color-primary: #fff;
$black-shadow-color-secondary: #ddd;

$black-border-color-primary: #333;
$black-border-color-secondary: #ccc;