
$color-primary: #c3c3c3;
$color-secondary: #ccc;

$font-color-primary: black;
$font-color-secondary: #333;

$padding-default-big: 0 30px;
$padding-default-medium: 0 20px;
$padding-default-small: 0 20px;
