@import '~_sass/config';

#home {
  justify-content: center;
  align-items: center;
  padding: $padding-default-big;

  .home__item {
     margin: 10px 0;
  }

  &.black {
    background: $black-color-primary;
  }
}