@import '~_sass/config';

#home {
  justify-content: center;
  align-items: center;
  padding: 10px 30px;

  .home__banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home__grid {
    width: 100%;
    padding-top: 10px;
  }
}