@import '~_sass/config';

#navigation {
  min-height: 40px;
  width: 100%;
  box-shadow: 0px 7px 20px -15px $shadow-color-primary;

  .navigation__content {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0px;

    &__item {
      width: 100px;
      height: 30px;
      margin-right: 5px;
      margin-top: 2px;
      background: $button-default-background;

      &:hover {
        background: $button-default-background-hover;
      }

      &::last-child {
        margin-right: 0;
      }

      .item__link {
        color: $font-color-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-weight: 600;

        &:hover {
          border-bottom: 3px solid $border-color-primary;
        }
      }
    }
  }

  &.black {
    box-shadow: 0px 7px 20px -15px $black-shadow-color-primary;

    .navigation__content .navigation__content__item {
      background: $black-button-default-background;

      &:hover {
        background: $button-default-background-hover;
      }
    }

    .navigation__content .navigation__content__item .item__link {
      color: $black-font-color-primary;

      &:hover {
        border-bottom: 3px solid $black-border-color-primary;
        color: $black-font-color-secondary;
      }
    }
  }

}